body{
    background-image: url(https://images.hdqwalls.com/download/grafitti-4k-iv-1920x1080.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: "Great Vibes", cursive;
    color: rgb(11, 206, 128);
}
h2{
    font-family: 'Lobster Two', cursive;
    letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid #733C3C;
        background: #0fcfb9;
        color: #361500;
        box-shadow: 1px 1px 2px #C69B7B;
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
}